.listitem{
	background-color: #EDF5FC;
	overflow:auto;
	margin: 0.5em;
}

h1 {
	font-size: 1.3em;
	text-align: left;
}

p {
	font-size: .5em;
	text-align: left;
}

.listitem button {
	width: 4em;
}



